<html>
  <head>
    <meta charset="utf-8" />
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/766ea95c18.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="title d-flex justify-content-center mt-3">
          <a href="/"><h1>URL SHORTENER</h1></a>
        </div>
        <div class="img-box d-flex justify-content-center">
          <img
            src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
            class="img-fluid"
            alt="img"
          />
        </div>

        {{{body}}}

      </div>
    </div>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>