<html>
  <head>
    <meta charset="utf-8" />
    <title>URL-Shortener</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://kit.fontawesome.com/766ea95c18.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>

    {{{body}}}

    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>