<form action="/shorten" class="shortenForm mt-5 d-flex justify-content-center">
  <div class="input-box w-25">
    <input
      type="url"
      name="url"
      id="input-url"
      class="form-control input-url"
      placeholder="input url here"
    />
  </div>
  <div class="btn-box px-2">
    <button type="submit" class="shorten-btn btn btn-secondary">SHORTEN</button>
  </div>
</form>

{{#if shortUrl}}
  <div id="shortUrlContainer" class="mt-3 d-flex justify-content-center">
    <p class="shortened-url">Your shortened URL:
      <a href="{{shortUrl}}" target="_blank">{{shortUrl}}</a></p>
  </div>
{{/if}}