<div class="container">
  <div class="row">
    <div class="title d-flex justify-content-center mt-3">
      <h1>URL SHORTENER</h1>
    </div>
    <div class="img-box d-flex justify-content-center">
      <img
        src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        class="img-fluid"
        alt="img"
      />
    </div>

    <form class="mt-5 d-flex justify-content-center">
      <div class="input-box w-25">
        <input
          type="url"
          class="form-control"
          id="url"
          placeholder="input url here"
        />
      </div>
      <div class="btn-box px-2">
        <button type="submit" class="btn btn-secondary">SHORTEN</button>
      </div>
    </form>
  </div>
</div>